<!DOCTYPE html>
<html>
<body>

<h1>The button form attribute</h1>

<form action="" method="POST", id="nameform">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="first_name"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="last_name">
  <label for="email">email:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="password">password:</label>
  <input type="password" id="pass" name="password">
  <label for="contact">contact:</label>
  <input type="tel" id="contact" name="contact"><br><br>
</form>

<button type="submit" form="nameform" value="Submit">Submit</button>

</body>
</html>
